#map-container {
  height: 100%;
  width: 100%;
}

.reset-button {
  position: absolute;
  top: 50px;
  z-index: 1;
  left: 12px;
  padding: 4px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.mapbox-map {
  height: 60vh;
  width: 60vw;
  margin-left: 0vw;
  margin-top: 0vw;
  margin-bottom: 0;
}
