/* Estilos para el Container principal */
.container {
  @apply max-w-[800px] mx-auto p-6 bg-white rounded-lg shadow-lg;
}

/* Título del formulario */
h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #343a40;
}

/* Estilo para el campo de búsqueda */
.form-control {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ced4da;
}

/* Estilo de la lista de campos */
.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #e9ecef;
}

/* Estilo de la tabla de slots */
.table {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  text-align: center;
  padding: 10px;
  border: 1px solid #dee2e6;
}

.table th {
  background-color: #50bb73;
  color: #fff;
}

.table td button {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.table td button.success {
  background-color: #28a745;
  color: #fff;
}

.table td button.secondary {
  background-color: #218838;
  color: #fff;
}

.table td button.success:hover {
  background-color: #218838;
}

.table td button.secondary:hover {
  background-color: #218838;
}

/* Estilos para el Modal */
.modal-content {
  @apply p-4 rounded-lg;
}

.modal-title {
  color: #343a40;
}

.modal-footer button {
  @apply text-sm px-3 py-2;
}

.modal-footer .btn-secondary {
  background-color: #6c757d;
  color: #fff;
  border: none;
}

.modal-footer .btn-primary {
  background-color: #218838;
  color: #fff;
  border: none;
}

.modal-footer .btn-secondary:hover {
  background-color: #5a6268;
}

.modal-footer .btn-primary:hover {
  background-color: #218838;
}

/* Estilo para el mensaje de confirmación */
.modal-body {
  font-size: 16px;
  color: #343a40;
}

@media (max-width: 768px) {
  .container {
    @apply p-4 rounded-none shadow-none max-w-full;
  }
}
