.fields-container {
  padding: 1rem;
}

.table {
  margin-top: 1rem;
}

.table img {
  max-width: 100px;
  max-height: 75px;
}

.btn {
  margin-right: 0.5rem;
}

.field-card {
  @apply text-center p-4;
}

.field-card-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #1f2937; /* text-gray-800 */
  margin-bottom: 0.5rem;
}

.field-card-price {
  color: #16a34a; /* Tailwind text-green-600 */
  font-weight: bold; /* Tailwind font-bold */
  margin-top: 0.5rem; /* Tailwind mt-2 */
}
