/*  Contenedor del Navbar */
.navbar {
  @apply w-full fixed top-0 left-0 bg-[#50BB73] text-white shadow-md z-50;
  @apply w-full text-white shadow-md py-2 md:py-5 transition-all;
  @apply flex justify-between items-center mx-auto;
}

.navbar .container {
  @apply w-full text-white shadow-md py-2 md:py-5 transition-all;
  @apply flex justify-between items-center mx-auto;
}

.navbar-items {
  @apply flex justify-end items-center w-full pr-10 md:pr-16;
}

/*  Bot贸n de Men煤 (M贸vil) */
.navbar-toggler {
  @apply text-white text-3xl md:hidden focus:outline-none transition-transform transform;
}

/*  Enlaces del Navbar */
.nav-link {
  @apply text-black text-lg font-medium px-4 py-2 hover:text-[#235A2C] transition duration-300 mr-6 md:mr-10;
}

/*  FORZAR EL COLOR BLANCO */
.nav-link,
.navbar-brand,
.nav-dropdown-item {
  color: white;
  /*  Asegurar que el texto sea blanco */
}

/*  Men煤 en M贸vil */
.navbar-menu {
  @apply flex flex-col md:flex-row space-y-3 md:space-y-0 md:space-x-6 text-right md:text-right mr-8 md:mr-14;
}

/*  Animaci贸n del men煤 en m贸viles */
.navbar-menu.hidden {
  @apply opacity-0 transform -translate-y-5 transition-all duration-300 ease-in-out;
}

.navbar-menu.block {
  @apply opacity-100 transform translate-y-0 transition-all duration-300 ease-in-out;
}

/*  Estilos del Dropdown */
.navbar-dropdown-menu {
  @apply absolute hidden bg-[#50BB73] text-white rounded-md shadow-lg mt-2 w-44 border border-green-600 group-hover:block;
}

/*  tems del Dropdown */
.nav-dropdown-item {
  @apply block px-5 py-3 text-white hover:bg-green-600 hover:bg-opacity-90 transition duration-300 rounded-md;
}

/*  L铆nea divisora en el Dropdown */
.dropdown-divider {
  @apply border-t border-gray-300 my-2;
}
/*  Contenedor del Logo */
.logo-container {
  @apply flex items-center cursor-pointer;
}

/*  Ajuste del tama帽o del Logo */
.logo {
  @apply w-[10vw] md:w-[13vw] h-auto; /*  Aumenta un 50% respecto a los valores actuales */
  max-width: 100%;
  display: block;
  margin-left: 5vw;
}
