@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  font-family: "Cenios", sans-serif;
}
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-poppins;
  }
}

@font-face {
  font-family: "Cenios";
  src: url("/fonts/CeniosDemo-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 0;
}

.read-the-docs {
  color: #888;
}

.page-container {
  height: calc(100vh - 10vh); /* Asumiendo que tu navbar ocupa 10vh */
  width: 100vw; /* Ancho total de la ventana */
  margin-top: 10vh; /* Empuja el contenido debajo del navbar */
  overflow-x: hidden;
}

.delete-button {
  @apply bg-red-600 text-white hover:bg-red-700 py-2 px-5 rounded-md transition duration-300;
}

.cancel-button {
  @apply bg-red-600 text-white hover:bg-red-700 py-2 px-5 rounded-md transition duration-300;
}

.slot-form-button {
  @apply bg-[#50BB73] hover:bg-green-800 text-white font-semibold py-2 px-5 rounded-md transition duration-300;
}

.submit-button {
  @apply slot-form-button hover:scale-105 transition-transform duration-300 mx-auto block mt-4;
}

/* Botón para seleccionar campo */
button {
  display: block;
  padding: 10px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

button:hover {
  background-color: #50bb73;
}
