html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 0;
}

.read-the-docs {
  color: #888;
}

.page-container {
  height: calc(100vh - 10vh); /* Asumiendo que tu navbar ocupa 10vh */
  width: 100vw; /* Ancho total de la ventana */
  margin-top: 10vh; /* Empuja el contenido debajo del navbar */
  overflow-x: hidden;
}

.delete-button {
  @apply bg-red-600 text-white hover:bg-red-700 py-2 px-5 rounded-md transition duration-300;
}

.cancel-button {
  @apply bg-red-600 text-white hover:bg-red-700 py-2 px-5 rounded-md transition duration-300;
}

.slot-form-button {
  @apply bg-[#50BB73] hover:bg-green-800 text-white font-semibold py-2 px-5 rounded-md transition duration-300;
}

.submit-button {
  @apply slot-form-button hover:scale-105 transition-transform duration-300 mx-auto block mt-4;
}
