/* ReservationsPage.css */
.reservations-container {
  padding: 1rem;
  margin: 0 auto;
}

.reservations-table {
  width: 100%;
  border-collapse: collapse;
}

.reservations-table th,
.reservations-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.reservations-table th {
  background-color: #50bb73;
  text-align: center;
  color: white;
}

.actions-button {
  margin: 5px;
  padding: 8px 16px;
  background-color: #4caf50;
  color: White;
  border: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 0.375rem;
}

.actions-button:hover {
  background-color: #45a049;
}
