/* 📌 Estilos para el video de fondo */
.background-image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%; /* puede ser -1 solo si estás segura que el contenedor del login tiene z-10 o más */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none; /* ✅ Esto hace que NO bloquee clics */
}

/*relative w-full h-screen flex items-center justify-center overflow-hidden/*

/* Contenedor principal */
.login-container {
  @apply flex items-center justify-center h-screen w-screen relative z-50 px-4;
}

/* Caja de login */
.login-box {
  @apply bg-gradient-to-r from-[#50BB73] to-[#0E0E0E] shadow-lg rounded-xl p-6 sm:p-8 md:p-10 max-w-md w-full relative z-50;
}

/* Título */
.login-title {
  @apply text-xl sm:text-2xl font-semibold text-white text-center mb-6;
}

/* Formulario */
.login-form {
  @apply space-y-4;
}

/* Etiquetas */
.login-label {
  @apply block font-medium text-white;
}

/* Inputs */
.login-input {
  @apply w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent;
}

/* Botón */
.login-button {
  @apply w-full bg-[#235A2C] hover:bg-[#235A2C] text-white font-bold py-2 px-4 rounded-lg transition duration-300;
}

.oauth-button {
  @apply w-full bg-white text-gray-900 font-semibold py-2 px-4 rounded-lg border border-gray-300 hover:bg-gray-100 transition duration-300;
}

/* Mensaje de error */
.error-message {
  @apply text-white mt-2;
}

.register-text {
  @apply text-[#82C451] cursor-pointer hover:underline;
}

.register-link {
  @apply flex gap-4 justify-center pt-8;
}
